<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Content location. Either relative to app or absolute. -->
		<add key="appUrl" value="content\index.html"/>
		<!-- "No content" page. -->
		<add key="noContentUrl" value="debug_content\nocontent.html"/>
		<!-- Path to the local database, either relative to application exe or absolute -->
		<add key="databasePath" value="database\kotka.db3"/>
		<!-- Show developer debug tools in the bottom of the window? -->
		<add key="displayDevTools" value="true"/>
		<!-- Frequency of GPS updates from native code to javascript in milliseconds -->
		<add key="gpsUpdateFrequency" value="3000"/>
		<!-- Javascript logging level (OFF|ALL|TRACE|INFO|WARN|ERROR|FATAL) -->
		<add key="javascriptLogLevel" value="TRACE"/>
		<!-- If true, make software work in off-line mode -->
		<add key="forceOffline" value="false"/>
		<!-- Path where application/image cache should be stored (relative to .exe, or absolute) -->
		<add key="cachePath" value="cache"/>
		<!-- This parameter tells that the new version has such changes in the database that it must be updated -->
		<add key="forceDatabaseUpdate" value="true"/>
		<!-- Force verbose logging, if set to true. Debug version always has verbose log enabled regardless this setting -->
		<add key="forceVerboseLog" value="false"/>
		<!-- Disable one or more commands, in order to support running of the software when background services fail -->
		<!-- The following line disables all CRM commands -->
		<add key="disabledCommands" value="GetCustomersPartners,GetActivityList,GetCampaignList,GetActivity,SaveActivity,GetCrmCustomerList,SaveCrmCustomer,GetCrmCustomer"/>
		<!-- This parameter tells that the application should check the Parameter and Pricing tables at startup -->
		<add key="checkTablesAtStartup" value="true"/>
		<!-- This parameter tells the application use a specific domain user name (for CRM service calls) -->
		<!--<add key="forceOtherUser" value="mgr\kotkacrmintegration" />-->
		<!-- This parameter defines the root path for offline maps. Absolute path or relative to Kotka application executable -->
		<add key="mapInstallPath" value="%ProgramData%\Fifth Element Oy\Metsä Group Kotka Maps\"/>
		<!-- This parameter defines the root path for misc configuration files that must not be removed by uninstall -->
		<add key="configurationsPath" value="%ProgramData%\Fifth Element Oy\Metsä Group Kotka Configurations\"/>
		<!-- This parameter defines location -->
		<add key="offlineRasterPackageName" value="offlineraster\ulkotasot.lfk"/>
		<!-- This parameter defines the root path for downloaded SAP attachments. Absolute path or relative to Kotka application executable -->
		<add key="sapAttachmentsCachePath" value="%ProgramData%\Fifth Element Oy\Metsä Group Kotka SapDocuments\"/>
		<!-- This parameter defines the location of the MapLoader executable. Absolute path or relative to Kotka application executable -->
		<add key="mapLoaderPath" value="MapLoader.exe"/>
		<!-- If true, show "Kopioi osoite" button -->
		<add key="showCopyAddrressButton" value="true"/>
		<!-- Application initialization settings follow -->
		<!-- Service endpoints -->
		<add key="RestServiceUrlGet" value="http://146.119.33.89/MG0472_KotkaRestJson_gateway/http/json"/>
		<add key="RestServiceUrlSave" value="http://146.119.33.89/MG0472_KotkaRestJsonSave_gateway/http/json"/>
		<add key="RestServiceUrlGis" value="http://146.119.33.89/MG0472_KotkaRestJsonGis_gateway/http/json"/>
		<add key="RestServiceUrlKtj" value="http://146.119.33.89/MG0450_EstateOwner_gateway/http/gw"/>
		<add key="RestServiceUrlGisMapSymbols" value="http://146.119.33.89/MG0582_mapsymbol_management_gateway/http/MG0582_mapsymbol_management_HttpGateway/MG0582_IncomingRestMessage"/>
		<add key="RestServiceIlves" value="http://146.119.235.26/ilves-api/servlet/stands?"/>
		<!-- WFS Services -->
		<add key="WfsServiceKotka" value="http://146.119.74.232/services/geometry/WFS/Kotka?"/>
		<!-- WFS Proxy settings -->
		<add key="WfsProxyAuthority" value="localhost:1234"/>
		<add key="MapserverAuthority" value="146.119.74.232"/>
		<!-- Online resources -->
		<add key="MapPackageIndex" value="http://146.119.33.32/maps/available_packages.geojson"/>
		<!-- Online resources -->
		<add key="IlvesDomain" value="testforestassetsmv.metsagroup.com"/>
		<add key="IlvesEnabled" value="false"/>
		<!-- Misc -->
		<add key="environmentText" value="TESTIVERSIO"/>
		<add key="DefaultStorageCommunes" value="2412,6092,7041,7101,7102,7105,7106,7107,7108,7109,8851,9501,9502,9503,9504,9505,9506,9507,6841,7901,7902,5431,8861"/>
	</appSettings>
	<!-- CefSharp requires .NET 2.0 Legacy Runtime Activation mode -->
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
</configuration>
